---
import { getCollection } from 'astro:content';
import Layout from '../../layouts/Layout.astro';

export async function getStaticPaths() {
  const recipes = await getCollection('recipe');
  return recipes.map(recipe => (
  { 
    params: { 
      slug: recipe.slug,
    },
    props: {
      recipe
    }
  }
));
}

const { recipe } = Astro.props;

const { 
  instructions, 
  // ingredients,
  comments,
  name, 
  author,
  servingsNumber,
  prepTime,
  nutritionFacts
} = recipe.data;
---

<Layout title={name}>
  <main>
    <div class="recipe-content-wrapper">
      <div class="recipe-header">
        <h1>{name}</h1>
        <a href="/" style="margin-bottom: 5px;">Back to all recipes</a>
        <p>{author}</p>
        <p>Makes {servingsNumber} servings</p>
        <p>Prep Time: {prepTime}</p>
      </div>
      <div class="recipe-instructions">
        <ol>
          { 
            instructions.map(instruction => (
              <li>{instruction}</li>
            ))
          }
        </ol>
      </div>
      <div class="recipe-bottom-info">
        { comments && <p class="recipe-comments">{comments}</p> }
        <div class="divider"></div>
        { nutritionFacts && <p class="recipe-nutrition-facts">Per serving (excluding unknown items): {nutritionFacts}</p> }
      </div>
    </div>
  </main>
</Layout>

<style>
  h1, h2, h3, p {
    margin: 0;
  }

  main {
    width: fit-content;
    max-width: 1280px;
  }

  ol {
    padding-left: 1rem;
  }

  .divider {
    background: black;
    height: 1px;
    width: 100%;
  }

  .recipe-content-wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .recipe-header,
  .recipe-bottom-info {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  

</style>